/***************** index.html ***********************/

html * {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  color: #405b40;
  background-color: #d5e1c4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/***************** Home ***********************/

section#home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#home img {
  max-width: 600px;
}

/***************** Header ***********************/

header {
  padding: 10px;
  background-color: rgb(119, 155, 66);
}

header,
header ul,
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header ul {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header ul li {
  height: 100%;
  margin: 5px 0;
}

@media screen and (min-width: 800px) {

  header,
  header ul,
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  header {
    padding: 40px 10px;
  }

  header ul li {
    margin: 0;
  }
}

header ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #ffc107;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

header a:before {
  content: "";
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header #home a:before {
  background-image: url(media/picto_home.svg);
}

header #option a:before {
  background-image: url(media/picto_option.svg);
}

header #vegetable a:before {
  background-image: url(media/picto_vegetables.svg);
}

header #garden a:before {
  background-image: url(media/picto_garden.svg);
}

/* header li {
  list-style-type: none;
  background: linear-gradient(to bottom right,
      rgb(62, 175, 62),
      rgb(40, 141, 40));
  color: #bbb;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

header li:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
} */

/***************** footer ***********************/

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(119, 155, 66);
  color: #fff;
  padding: 5px;
}

footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

footer li {
  list-style-type: none;
}

/***************** card ***********************/

.card-vegetable {
  border: 1px solid #405b40;
  width: 350px;
  /* margin: 10px; */
  padding: 20px;
  border-radius: 4px;
  color: #405b40;
  background-color: #eff5ef;
  display: flex;
  flex-direction: column;
}

/* .card-vegetable button:not(.btn-details) {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom right,
      rgb(12, 61, 12),
      rgb(40, 141, 40));
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4);
} */

.card-vegetable h2 {
  margin-top: 10px;
}

.container-card {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-gap: 20px 30px;
  justify-content: center;
}

.modal-card-vegetable p {
  margin: 10px 0 4px 0;
}

.modal-card-vegetable span {
  display: inline-block;
  width: 22px;
  background-color: #dfdfdf;
  border: 1px solid #b0b0b0;
  border-right: 0;
  padding: 2px;
  font-size: 14px;
}

.pointer {
  background-color: #ca9e52;
  color: #fff;
  border: 2px solid #b77503;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}

.pointer:hover {
  cursor: pointer;
  background-color: #b77503;
}

.active {
  background-color: #779b42 !important;
  color: #fff !important;
}

.harvest span.active {
  background-color: #ffaa4b !important;
}

.btn-details {
  background-color: #809a80;
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 6px 15px;
  align-self: flex-end;
  transition: color 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
}

.btn-details:hover {
  background-color: #87b587;
}

.btn-add-vegetable {
  background-color: #ca9e52;
  color: #fff;
  border: 2px solid #b77503;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}

.btn-add-vegetable:hover {
  background-color: #b77503;
}

.btn-add-vegetable.associated {
  margin-left: auto;
  background-color: transparent;
  color: green;
  border: 0;
  border-radius: 4px;
  padding: 4px;
  margin-top: 0;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}

.btn-add-vegetable.associated:hover {
  background-color: green;
  color: #fff;
}

.btn-details:after {
  content: "";
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: url(media/eye.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-list {
  display: flex;
  justify-content: center;
}

.card-vegetable h3 {
  font-size: 18px;
}

/******* Vegetable ***********/

.darkBG {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 1;
}

.centered {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 100%;
  height: 600px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(100, 100, 100, 1);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modal-card-vegetable {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.previousBtn,
.nextBtn {
  background: linear-gradient(to bottom right,
      rgb(12, 61, 12),
      rgb(40, 141, 40));
  color: #bbb;
  font-weight: bold;
  margin: 5px;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}

/***************** garden ***********************/

div[id="garden"] {
  margin: 40px auto;
  padding: 5px;
  display: grid;
  border-radius: 6px;
  gap: 10px;
  background-color: rgb(113, 85, 63);
}

div[id="garden"] div.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed black;
  background-color: #886c57;
  font-size: 16px;
  font-weight: 600;
}

div[id="garden"] div.cell.active {
  background-color: #dde8dd;
  border: 0;
}

.cell,
.parcell {
  width: 100%;
}

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.planted.parcell {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.planted.parcell p {
  margin: 0;
}

div[id="garden"] button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  width: 90%;
  font-size: 10px;
}

div[id="garden"] button.btn-garden {
  transition: all 0.05s ease-in-out;
}

div[id="garden"] button.btn-garden:hover {
  font-weight: 600;
}

button#add-vegetable {
  background-color: #87a65a;
}

button#add-vegetable:hover {
  background-color: #9cbf68;
  color: #405b40;
}

button#change-vegetable {
  background-color: #607b38;
}

button#change-vegetable:hover {
  background-color: #54702a;
}

div[id="garden"] button[id="delete-vegetable"] {
  background-color: #7b6438;
}

button#delete-vegetable:hover {
  background-color: #6c5731;
}

.planted.parcell button {
  margin-top: 4px;
}

div[id="vegetables-list"] {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div[id="compatibilities"] {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffeb3b;
  padding: 20px 10px;
}

div[id="compatibilities"]>h2 {
  width: 100%;
}

#compatibilities>div {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100px;
}

div[id="compatible-vegetable"],
div[id="incompatible-vegetable"] {
  padding: 100px 10px 10px 10px;
  border-radius: 10px;
}

div[id="compatible-vegetable"] {
  background-image: url(media/compatible.png);
  color: green;
}

div[id="incompatible-vegetable"] {
  background-image: url(media/incompatible.png);
  color: red;
}

div.associated h3 {
  margin-top: 0;
}

div.associated {
  width: 100%;
}

@media screen and (min-width: 700px) {
  div[id="garden"] {
    padding: 20px;
    border-radius: 10px;
  }

  div[id="garden"] div.cell {
    border: 3px dashed black;
  }

  .planted.parcell button {
    margin-top: 10px;
  }

  #compatibilities>div {
    background-position: left top;
    background-size: 100px;
  }

  div[id="compatible-vegetable"],
  div[id="incompatible-vegetable"] {
    padding: 10px 10px 10px 140px;
    text-align: left;
  }

  div[id="compatibilities"] {
    padding: 20px 60px;
  }

  .planted.parcell p {
    margin: 10px 0;
  }
}

@media screen and (min-width: 769px) {
  div[id="garden"] button {
    padding: 30px 10px 10px 10px;
    border-radius: 10px;
    font-size: 14px;
  }

  div[id="garden"] button.btn-garden {
    background-position: center 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    height: 55px;
  }

  button#add-vegetable {
    background-image: url(media/add.svg);
  }

  button#change-vegetable {
    background-image: url(media/change.svg);
  }

  div[id="garden"] button[id="delete-vegetable"] {
    background-image: url(media/delete.svg);
  }
}

@media screen and (min-width: 1050px) {
  div[id="garden"] div.cell {
    font-size: 28px;
  }

  div[id="garden"] button {
    padding: 20px 50px 20px 30px;
  }

  #garden button.btn-garden {
    background-position: 90% center;
    width: 220px;
    height: 55px;
  }
}

@media screen and (min-width: 1200px) {
  div.associated {
    width: 50%;
  }

  #compatibilities>div {
    background-position: left top;
    background-size: 140px;
  }
}

div.associated ul {
  list-style-type: disc;
  font-size: 18px;
  line-height: 30px;
}

div.associated li {
  max-width: 360px;
  display: flex;
  align-items: center;
}

div.associated li:before {
  content: "\25CF";
  margin-right: 6px;
}

ul {
  list-style-type: none;
}

nav[id="paging"] {
  margin: auto auto 20px auto;
}

nav[id="paging"] button {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #4557ff;
  font-style: italic;
  margin: 0 6px;
}

nav[id="paging"] button:disabled {
  font-weight: 600;
  font-style: normal;
  color: #000;
}

nav[id="paging"] button:disabled:hover {
  cursor: default;
}

nav[id="paging"] button:not(:disabled):hover {
  text-decoration: underline;
}

nav[id="paging"] button.btn-paging,
nav[id="paging"] span.btn-empty {
  display: inline-block;
  width: 100px;
}

/******* Search ************/

div[id="search"] {
  width: 100%;
  padding: 20px 40px;
  font-weight: bold;
  /* background: #ddd; */
  display: flex;
  align-items: center;
}

div[id="search"] label {
  background-color: transparent;
  margin-right: 25px;
  font-weight: bold;
}

div[id="search"] input {
  flex: 1;
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid gray;
}

/** form-Crud **/

.error {
  font-weight: 700;
  color: red;
}

.form-create {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menu-crud {
  display: flex;
  justify-content: space-between;
}

.crud-garden,
.crud-vegetable {
  background-color: rgb(119, 155, 66);
  border-radius: 25px;
  margin: 50px 50px;
  padding: 10px;
  height: 500px;
}

.crud-garden {
  flex-grow: 2;

}

.crud-vegetable {
  flex-grow: 1;

}

.vegetable-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vegetable-actions button,
.crud-garden button {
  background-color: #ca9e52;
  color: #fff;
  border: 2px solid #b77503;
  border-radius: 4px;
  padding: 10px;
  margin-top: 50px;
  font-weight: 600;
  transition: all 0.25s ease-in-out;
}

.vegetable-actions button :hover,
.crud-garden button :hover {
  background-color: #87b587
}


.del-btn {
  color: whitesmoke;
  background-color: #cf1d1d;
}

.card-vegetable-delete {
  border: solid;
  width: 350px;
  margin: 10px;
  padding: 20px;
}

.container-card-delete {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-list-compatibilities {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.list-friends {
  border: dotted;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: normal;
  align-items: flex-start;

  color: whitesmoke;
  background-color: green;

  padding: 8px;
  margin: 8px;

  height: auto;
  width: auto;
}

.list-enemies {
  border: dotted;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: normal;
  align-items: flex-start;

  color: whitesmoke;
  background-color: red;

  padding: 8px;
  margin: 8px;

  height: auto;
  width: auto;
}

.title-tab-compa {
  display: flex;
  justify-content: flex-start;
}

.form-create-garden {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;

  border: solid;
  border-radius: 50px;
  margin: 50px 300px;
  padding: 15px;
  height: 300px;
}

.edit-btn {
  color: rgb(116, 154, 235);
  text-decoration: none;
}